.recipe {
    text-align: center;
}

.label{
    height: 100px;
    overflow: hidden;
    color: whitesmoke; 
}

.image{
    border-radius: 10%;
}


.ingredients{
    height: 250px;
    overflow: hidden;
    color: whitesmoke; 
    font-size:small
}